<app-nav></app-nav>
<h1 style="text-align: center;"> Welcome to ABC Hospital</h1><br>
    
  
        <div style="margin-left: 2vw;">
            <h3>Patient Information</h3><br>
           
            <div class="row">
                <div class="col-md-6">
                    <!-- <p>Name:  {{name}}</p>
                    <p>Email: {{email}}</p>
                    <p >Doctor Name: {{docName}}</p>
                    <p >Date;  {{date}}</p> -->
                </div>
                <div class="col-md-6">
                    <!-- <p >Symptom: {{symptom}}</p>
                    <p >Lab Test:{{labTest}}</p>
                    <p >Lab Result:{{labResult}}</p>
                    <p >Result:{{result}}</p> -->
                    
                </div>
            </div>
            
        </div>
        