
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" href="assets/image/logo2.jfif" type="image/x-icon" style="border-radius: 50%;">
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        
  
        <!-- <link rel="stylesheet" href="../../styles.css"> -->
  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    </head>
</head>
<body>
    <div class="container-fluid pt-5 my-3">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-blue">
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/logo2.jfif" id="logo" class="img-fluid my-0 w-25 p-1 rounded-circle" alt="" />
              <strong> <span>ABC HOSPITAL</span> </strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="blog.html">WHO ARE WE <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="services.html">SERVICES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="appointment.html">Appointment</a>
                </li>
                
                
                <li class="nav-item">
                  <a routerLink="/login"><button class="btn btn-primary pull-right" > Login</button></a>
   
                  <!-- <a href="login.html" class="nav-link">Login</a> -->
                </li>
              </ul>
            </div>
          </nav>
      
    
      </div>
      <div class="container">
        <router-outlet name="hospitalMain">

        </router-outlet>

      </div>
</body>
</html>
