<app-nav></app-nav>
<div class="container" style="margin-top:5vh">
    <div class="row">
        <div class="col-md-4">
            <h1 style="color:blue">Welcome to ABC Hospital</h1>
            <p>
                Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed
                rhoncus
                odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus
                tincidunt, ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis
                augue. Nam
                ut nibh mollis, tristique ante sed, viverra massa.
            </p>
            <!-- <a type="button" class="btn btn-primary" [routerLink]="[{outlets:{'hospitalMain':['appointment']}}]">
            Make an Appointment
            </a> -->
            <a routerLink="/appointment"><button class="btn btn-primary pull-right" > Make an Appointment</button></a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    

</div>
